.App {
  text-align: center;
}
.menu{
  width: 15px;
  height: 13px;
  position: absolute;
  top: 5px;
  left: 5px;
}
.menu-line{
  padding: 4px 14px;
  border-bottom: 1px solid #fff;
  background: #3f51b5b5;
}
.cards{

}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

UL {
	position:absolute;
	left:0;
	top:1.5em;
	float:left;
	background:#bbb;
	width:100%;
	margin:0;
	padding:0.25em 0.25em 0.25em 1em;
	list-style:none;
	border-top:1px solid #fff;
}
.cards{
  position: absolute;
  background: #000;
  color: wheat;
  margin: 0 37px;
}
 .cards li {
	/* float:left; */
	display:inline-block;
	margin-top:1px;
  list-style:none ;  
  padding: 5px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
 }
 .cards li :hover{
   background: #3f7cb5b5;
 }
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
